.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
Meta
src/*.o
src/*.so
src/*.dll
src/*/*.o
src/*/*.so
src/*/*.dll
/Meta/
doc/*
docs
tests/testthat/*.pdf
seafile-ignore.txt
vignettes/.*
CRAN-SUBMISSION
!.gitignore
/doc/
